<% if @events != nil %>
  <div class="container">
    <div class="jumbotron">
      <h1>Events</h1>
    </div>
  <% @events.each do |event| %>
    <%= event.name %>
    <%= event.description %>
    <%= event.hours%>:<% if event.minutes < 10 %><%= "0" + event.minutes.to_s %>
    <% else %>
      <%= event.minutes %>
    <% end %>
  <%= event.meridiem %>
  <%= button_to "event", new_event_hangout_path(event), :class => "button", :method => :get, :event_id => event.id  %><br />
  <a href="/events/<%= event.id %>/hangouts/new">Hangout at this event!</a>
  <br><br>
  <% end %>
<% end %>
</div>