<%= render 'form' %>

<% if @hangouts != nil %>
<div class="container">
<h1>Hangouts</h1>

<% @hangouts.each do |hangout| %>
<%= hangout.name %>
wants to
<%= hangout.description %>
at
<%= hangout.hours%>:<% if hangout.minutes < 10 %><%= "0" + hangout.minutes.to_s %>
<% else %>
<%= hangout.minutes %>
<% end %>
<%= hangout.meridiem %>.<br><br>
<% end %>
<% end %>
</div>
