<div class="jumbotron">
<h1>Free? Let's do something.</h1>
  <%= render 'form' %> 
</div>

<% if @hangouts != nil %>
<div class="container-fluid">

	<h1>Hangouts</h1>
	<% @hangouts.each do |hangout| %>
    <% if hangout.minutes != nil %>
    <div class="col-md-4">
      <div class="row text-center">
        <div class="border">
          <div class="hangouts">
            <p><%= hangout.name %> wants to
          <% if hangout.event_id != nil %>
        <a href="/events/<%= hangout.event_id %>"><%= hangout.description %>
        <% else %>
        <%= hangout.description %> at
        <% end %>
        <%= hangout.hours%>:<% if hangout.minutes < 10 %><%= "0" + hangout.minutes.to_s %>
          <% else %>
           <%= hangout.minutes %>
          <% end %>
        <%= hangout.meridiem %></p></a>
          </div>


          <div class="delete">
            <%= button_to "Delete", hangout, method: :delete, :class => "btn btn-sm" %><br>
          </div>
          
          <div class="response">  
            <%= form_for [hangout, Response.new] do |f| %>
              <div class="field">
                <%= f.hidden_field :hangout_id, :value => hangout.id %>
                <%= f.text_field :name, :placeholder => "Your name" %><br>
              </div>
              <div class="button">
                <%= f.submit :class => 'btn btn-primary btn-md', :value => "Respond" %>
              </div>
            <% end %>
          </div>
          

          <div class="going">
            <h3>Going: </h3>
            <% if hangout.responses.length > 0 %> 
              <% hangout.responses.each do |n|%>
                <%= n.name%><br>
              <%end%>
            <%end%>
          </div>


          
          <br>
        </div>
      </div> 
    </div>   
    <% end %>
	<% end %>
<% end %>
 </div>





