<%= render 'form' %> 
<div class="jumbotron">
  <h1>Jumbotron</h1>
  <p>Yeah</p>
</div>

<% if @hangouts != nil %>
	<div class="container">

	<h1>Hangouts</h1>
	<% @hangouts.each do |hangout| %>
    <% if hangout.minutes != nil %>
		<%= hangout.name %>
    wants to
		<%= hangout.description %>
		<%= hangout.hours%>:<% if hangout.minutes < 10 %><%= "0" + hangout.minutes.to_s %>
		<% else %>
			<%= hangout.minutes %>
		<% end %>
	<%= hangout.meridiem %>
  <%= link_to "Delete", hangout, method: :delete %>
		<%= form_for [hangout, Response.new] do |f| %>
    <div class="field">
    <%= f.hidden_field :hangout_id, :value => hangout.id %>
      <%= f.label :name %><br>
      <%= f.text_field :name %><br>
    </div>

    <div class="actions">
      <%= f.submit "Respond" %>
    </div>
  <% end %>
			<% if hangout.responses.length > 0 %> 
        <% hangout.responses.each do |n|%> 
          <%= n.name%> wants to join! <br>
          <%end%>
			<% end %>
			<br>
     <% end %>
	<% end %>
<% end %>
	</div>