<%= render 'form' %>

<% if @hangouts != nil %>
	<div class="container">

	<h1>Hangouts</h1>
	<% @hangouts.each do |hangout| %>
    <% if hangout.minutes != nil %>
		<%= hangout.name %>
		<%= hangout.description %>
		<%= hangout.hours%>:<% if hangout.minutes < 10 %><%= "0" + hangout.minutes.to_s %>
		<% else %>
			<%= hangout.minutes %>
		<% end %>
	<%= hangout.meridiem %>
		<%= form_for [hangout, Response.new] do |f| %>
    <div class="field">
    <%= f.hidden_field :hangout_id, :value => hangout.id %>
      <%= f.label :name %><br>
      <%= f.text_field :name %><br>
    </div>

    <div class="actions">
      <%= f.submit "Respond" %>
    </div>
  <% end %>
			<% if hangout.responses.length > 0 %>
				<%= hangout.responses.last.name %>
			<% end %>
			<br>
     <% end %>
	<% end %>
<% end %>
	</div>