<%= render 'form' %>

<% if @hangouts != nil %>
<div class="container">
<h1>Hangouts</h1>

<% @hangouts.each do |hangout| %>
<%= hangout.name %><br>
<%= hangout.description %>
<%= hangout.hours%><%= hangout.minutes%>
<% end %>
<% end %>
</div>